### 人际关系的利益学算法


1. 建立一张pandas表，每行4个参数，姓名、正能量、负能量、正负能量达到平衡的交易次数(1:1)

2. 每次你给某个人好处，正能量增加。你付出，别人获利。

3. 每次你损害他人的利益(从别人那儿获取好处)，负能量增加。别人付出，你获利。

4. 每一次操作后，若正负能量达到平衡，则“交易次数”加一


* 正能量 = 负能量 = 0，陌生人

* 正能量 > 负能量，尝试从这个人获取好处，有困难找对方帮忙

* 负能量 > 正能量，对方(以及他的直系亲属、朋友、党羽)找你帮忙，你得帮。甚至还得主动揣测对方需求，主动帮忙


* * 正能量 > 负能量，正能量-负能量 > 个人最大承受值，你报复他人(指短时间内，一次性从别人那里获取你认为应得的利益)，你将对方加入黑名单

* * 负能量 > 正能量，负能量-正能量 > 他人最大承受值，他人对你采取报复行为(指短时间内，一次性从你那里获取他们认为应得的利益)，被对方加入黑名单

* * 你会更倾向于与“交易次数”高的人完成下一次交易，这些人，通常被称为好友


> 注： 这套理论不光可以解释一堆人情世故相关的问题，还可以作为“数学模型”，让机器学会为人处世。

In [42]:
import pandas as pd

table = pd.DataFrame(columns=['name', 'positive_power', 'negative_power', 'balanced_times', 'description'])

In [43]:
table.head()

Empty DataFrame
Columns: [name, positive_power, negative_power, balanced_times, description]
Index: []

In [44]:
temp_table = table.append({'name': 'LiZhaoYue'}, ignore_index=True)

new_table = temp_table.loc[temp_table['name'] == "LiZhaoYue"]
new_table.iloc[0]['positive_power'] = 0
new_table.iloc[0]['negative_power'] = 0
new_table.iloc[0]['balanced_times'] = 10
new_table.iloc[0]['description'] = "A man who willing to listen to me"

table = table.append(new_table)

In [49]:
temp_table = table.append({'name': 'YuXingYu'}, ignore_index=True)

new_table = temp_table.loc[temp_table['name'] == "YuXingYu"]
new_table.iloc[0]['positive_power'] = 0
new_table.iloc[0]['negative_power'] = 0
new_table.iloc[0]['balanced_times'] = 10
new_table.iloc[0]['description'] = "A man who can work together"

table = table.append(new_table)

<class 'int'>

In [46]:
table

,name,positive_power,negative_power,balanced_times,description
0,LiZhaoYue,0,0,10,A man who willing to listen to me
1,YuXingYu,0,0,10,A man who can work together

In [6]:
# giving(name, power_value)
# taking(name, power_value)
# balanced_times is automatecally calculated
# 

# seek_for_help(description = None) return highest balanced_times person ralated to the description
# can_I_help(name) return the calculated information about that person

In [48]:
temp_table = table.loc[table['name'] == 'YuXingYu']
len(temp_table)

1

In [13]:
table['name'].isin(['LiZhaoYue'])

0    False
Name: name, dtype: bool